:root {
    --bg-color: #BFDDFF;
    --bg-color-sec: #D9D9D9;
    --amarillo: #ffff9e;
    --rosa:#F29EB2;
    --azul-oscuro: #015DCA;
    --negro: #020202;
    --serifa:"STIX Two Text", serif;
    --titulos:"Waterfall", cursive;
    --menu:"Poppins", sans-serif;
}

*{
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img{
    width: 100%;
    vertical-align: middle;
}

.hero {
    background-image: url(../media/video/home.jpg);
    background-size:cover;
    background-position: center;
    height: calc(100vh - 64px);
}

#titulos h1{
    font-family: var(--titulos);
    font-size: 9rem;
    color: var(--bg-color);
    font-weight: 300;
}
#titulos h2{
    font-family: var(--serifa);
    color: var(--amarillo);
    font-size: 3rem;
    margin-top: -2rem;

}
.btm{
    background: var(--bg-color);
    font-size: 2.4rem;
    font-family: var(--serifa);
    border-radius:10px;
    padding:0 1.5rem ;
    text-decoration: none;
    color: var(--negro);
}

#titulos{
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    background-color: var(--rosa);
    color: var(--negro);
    padding: 0.9rem 1.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo-nav {
   width: 50%;
}

header a {
    font-family: var(--menu);
    color: var(--negro);
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

/* Menu desktop */
.menu-desktop {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Menu mobile */
.nav-mobile {
    width: 100%;
    height: 100%;
    position: fixed;
    /* Para ajustar la altura */
    top: 64px; 
    left: 0;
    background-color: var(--rosa);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.nav-mobile > .menu-mobile {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 32px;
}

/* Menu icons */
.icons-mobile {
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.icons-mobile > .fa-times {
    display: none;
}

#sideMenu {
    display: none;
}

.nav-mobile {
    display: none;
}

.side-menu:checked ~ .nav-mobile {
    max-height: 100%;
}

.side-menu:checked ~ .icons-mobile > .fa-bars {
    display: none;
}

.side-menu:checked ~ .icons-mobile > .fa-times {
    display: block;
}

.about{
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    flex-direction:column;
    padding: 2rem 5rem;
}
.about h1{
    font-family: var(--serifa);
    font-size: 4rem;
    text-align: center;
}

.about p{
    font-family: var(--serifa);
    font-size: 2rem;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color);
    padding-bottom: 10%;
}
footer h1{
    font-family: var(--serifa);
    font-size: 5rem;
}
footer a{
    width: 30%;
}
/* gallery */
.fotos{
    background-color: var(--bg-color-sec);
}
.gallery{
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.par1{
    display: flex;
    justify-content: row;
    gap: 2rem;
}
.par2{
    display: flex;
    justify-content: row;
    gap: 2rem; 
}
.btm2{
    background: var(--bg-color);
    font-size: 2.4rem;
    font-family: var(--serifa);
    border-radius:10px;
    padding:0 1.5rem ;
    text-decoration: none;
    color: var(--negro);
}
.boton{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.fechas{
    display: flex;
    flex-direction: row;
    gap: 9rem;
    justify-content: center;
}
.columna1{
    display:flex;
    flex-direction: column;

}
.fechas h1{
    font-family: var(--serifa) ;
    color: var(--azul-oscuro);
    text-decoration: underline;
    font-weight: 500;
    font-size: 6rem;
    text-align: center;
}
.fechas h2{
    font-family: var(--serifa) ;
    font-weight: 500;
    color: var(--negro);
    font-size: 3rem;
    text-align: center;
}
.boton3{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
/* entradas */
.formulario{
    background-color: var(--bg-color);
}
section,
#modal {
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section > h1 {
    margin: 1rem 0;
}

section > form {
    width: 80%;
    max-width: 500px;
}

section > form > label {
    display: none;
}

section > form > input,
section > form > select,
section > form > p {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-family:var(--serifa) ;
}

section > form > input[type=submit],
#modal > div > button {
    width: 10rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: var(--rosa);
    border-radius: 10px;
    border: var(--bg-color) 2px solid;
    transition: 0.5s;
    cursor: pointer;
}

section > form > input[type=submit]:hover,
#modal > div > button:hover {
    background-color: var(--amarillo);
}

#modal {
    position: fixed;
    inset: 0;
    background-color: var(--bg-color);
    display: none;
}

#modal > div {
    background-color: white;
    padding: 2rem;
}

#modal > div > h2,
#modal > div > ul > li,
#modal > div > button {
    margin: 0.5rem 0;
}

/* MEDIA QUERIES */
@media screen and (max-width:768px) {
    footer h1{
        font-size: 3rem;
    }
}
@media screen and (max-width:720px) {
    .nav-desktop{
        display: none;
    }

    .icons-mobile{
        display: block;
    }

    .nav-mobile{
        display: block;
    }
.fechas{
    display: flex;
    flex-direction: column;
}
}
@media screen and (max-width:700px) {
.par1, .par2{
    display: flex;
    flex-direction: column;
}
}

@media screen and (max-width: 670px) {
    #titulos h1 {
        font-size: 5rem;
    }

    #titulos h2 {
        font-size: 2rem;
    }
    .btm{
        font-size: 1.5rem;
    }
    .about p{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 500px) {
    section > h1 {
        font-size: 1.5rem;
    }

    #modal > div > h2 {
        font-size: 1.2rem;
    }

    #modal > div > ul > li {
        font-size: 0.8rem;
    }
    .about h1{
        font-size: 3rem;
    }
     .about p{
        font-size: 1.25rem;
    }
}
@media screen and (max-width: 469px) {
    footer h1{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:425px){
    .fechas h1{
        font-size: 4rem;
    }
}
@media screen and (max-width:364px){
    #titulos h1 {
        font-size: 3rem;
    }
    #titulos h2 {
        font-size: 1.5rem;
        margin-top: -0.7rem;
    }
    .btm{
        font-size: 1rem;
    }
    .about h1{
        font-size: 2rem;
    }
}